body{margin:0}
table{border-spacing:0;border-collapse:collapse}
table td,table th{font-size:100%;text-align:left}
h1,h2,h3,h4,h5,h6{margin:1ex 0}
div,input,main,nav,section,span,textarea{box-sizing:border-box}
section{margin-top:5px;margin-bottom:5px;padding-top:5px;padding-bottom:5px}
.vpad{padding-top:10px;padding-bottom:10px}
.hpad{padding-left:10px;padding-right:10px}
body{background-color:#fff;font:14px "Lucida Grande",Arial,sans-serif}
label[disabled]{color:#777}
fieldset{margin:10px 10px;border:1px solid #CCC}
.code,code{font-family:monospace}
.help{font-size:80%;color:#444;cursor:pointer}
table td,table th{padding:1px 4px 2px 2px;vertical-align:top}
nav[fixedflow]{left:0;right:0;z-index:100;font-size:90%;background-color:#999;padding:0 5px;-webkit-user-select:none;-moz-user-select:none;user-select:none}
nav[fixedflow] .tab{display:inline-block;padding:2px 6px;margin:3px 0 0 0;border-radius:2px 2px 0 0;background-color:#DDD}
nav[fixedflow] .tab.current,nav[fixedflow] .tab:hover{background-color:#FDFDFD}
.wrap{word-break:break-all;white-space:pre-wrap}
.raw{white-space:pre-wrap}
table.map td{border-bottom:1px solid rgba(0,0,0,.05)}
table.map tr:last-child td{border-bottom:none}
.document{padding:5px;font-family:"Times New Roman",Serif;background-color:#89A}
.document .paragraph{min-height:1.2em;margin:5px 0;padding:2px;white-space:pre-wrap;background-color:#fff}
.document .example{background-color:#f0f8ff;counter-increment:example}
.document .example:before{content:"(" counter(example)") "}
.document .reference{background-color:#87ceeb}
.document .endnote,.document .footnote{display:block;margin:5px 0;padding:2px;font-size:smaller;background-color:#ccc}
.document.outlined span{outline:1px solid #ffb6c1}
.document.labeled .endnote:before,.document.labeled .footnote:before{padding:0 2px;font-variant:small-caps}
.document.labeled .footnote:before{content:'Footnote'}
.document.labeled .endnote:before{content:'Endnote'}
.xml{font-size:11px;font-family:Consolas,Monaco,Menlo,monospace}
.xml .element,.xml .text{margin-left:2ch}
.xml .attribute .name{color:#ff00ff}
.xml .attribute .value{color:#8b008b}
.xml .start{color:green}
.xml .end{color:red}
.xml .text{color:#00f}
.latex{font-size:11px;font-family:Consolas,Monaco,Menlo,monospace;white-space:pre-wrap}