<nav fixedflow class="sub">
  <span class="text">
    <b>{{storedFile.name}}</b>
  </span>
  <span ui-sref-active="current" class="tab">
    <a ui-sref="document.files">Files</a>
  </span>
  <span ui-sref-active="current" class="tab">
    <a ui-sref="document.xdoc">XDoc</a>
  </span>
  <!-- <span ui-sref-active="current" class="tab">
    <a ui-sref="validate">Validate</a>
  </span> -->
  <span ui-sref-active="current" class="tab">
    <a ui-sref="document.latex">LaTeX</a>
  </span>
</nav>

<ui-view></ui-view>
