<section class="hpad">
  <h3>Document zip archive contents</h3>
  <p>You can use this file to view the raw XML for all files inside the Word document.</p>
  <p>This is helpful for developing and debugging, but if you just want to convert your document, use the <a ui-sref="document.latex">LaTeX</a> link.
</section>

<table class="fill padded lined striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Dir</th>
      <th>Date</th>
      <th>Comment</th>
      <th>Permissions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="object in zip.files">
      <td><a ui-sref="document.files.xml({filepath: object.name})">{{object.name}}</a></td>
      <td>{{object.dir}}</td>
      <td>{{object.date}}</td>
      <td>{{object.comment}}</td>
      <td>{{object.unixPermissions || object.dosPermissions}}</td>
    </tr>
  </tbody>
</table>

<ui-view></ui-view>
