<section class="hpad">
  <form>
    <label>
      <div><b>Upload Word Doc</b></div>
      <input type="file" on-upload="readFile($file)">
    </label>
  </form>
</section>

<section class="hpad">
  <h3>Stored file</h3>
  <ul>
    <li>Modified: {{$storage.file.lastModifiedDate | date:'MMMM d, y h:mm a'}}</li>
    <li>Filename: {{$storage.file.name}}</li>
    <li>Size: {{$storage.file.size}}</li>
    <li>MIME Type: {{$storage.file.type}}</li>
    <li>ArrayBuffer.byteLength: {{$storage.file.arraybuffer.byteLength}}</li>
  </ul>
</section>

<section class="hpad">
  <h3>Zip contents</h3>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Dir</th>
        <th>Date</th>
        <th>Comment</th>
        <th>Permissions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(name, object) in zip.files">
        <td><a ui-sref="word.file({name: name})">{{object.name}}</a></td>
        <td>{{object.dir}}</td>
        <td>{{object.date}}</td>
        <td>{{object.comment}}</td>
        <td>{{object.unixPermissions || object.dosPermissions}}</td>
      </tr>
    </tbody>
  </table>
</section>

<ui-view></ui-view>
