<section class="hpad">
  <form>
    <label>
      <div><b>Upload Word Doc</b></div>
      <input type="file" on-upload="readFile($file)">
    </label>
  </form>
</section>

<section class="hpad">
  <h3>Stored file</h3>
  <ul>
    <li>Modified: {{$storage.file.lastModifiedDate | date:'MMMM d, y h:mm a'}}</li>
    <li>Filename: {{$storage.file.name}}</li>
    <li>Size: {{$storage.file.size}}</li>
    <li>MIME Type: {{$storage.file.type}}</li>
    <li>ArrayBuffer.byteLength: {{$storage.file.arraybuffer.byteLength}}</li>
  </ul>
</section>
