<section class="hpad">
  <h3>Document metadata</h3>
  <ul>
    <li ng-repeat="(key, value) in document.metadata">{{key}}: {{value}}</li>
  </ul>
</section>

<section class="hpad">
  <h2>Document</h2>

  <label><input type="checkbox" ng-model="$storage.labeled"> Show labels</label>
  <label><input type="checkbox" ng-model="$storage.outlined"> Show outlines</label>

  <div class="document" ng-class="{labeled: $storage.labeled, outlined: $storage.outlined}" xdom-document="document"></div>
</section>
